/* Alapbeállítások */
        body {
            margin: 0;
            font-family: "Georgia", serif;
            background-color: #2D2F32
;
            color: #C2C5C9;
            line-height: 1.7;
        }

        header {
            background-color:  #5F4E47;
            color: #A6A9AE;
            padding: 40px 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 2.5rem;
        }

        header p {
            font-style: italic;
            opacity: 0.85;
        }

        nav {
            background-color: #4A493F;
            text-align: center;
            padding: 10px 0;
        }

        nav a {
            color: #C2C5C9;
            text-decoration: none;
            margin: 0 15px;
            font-size: 1rem;
        }

        nav a:hover {
            text-decoration: underline;
           color: #A6A9AE
        }

        main {
            max-width: 900px;
            margin: 40px auto;
            padding: 0 20px;
        }

        section {
            margin-bottom: 60px;
        }

        h2 {
            border-bottom: 2px solid #5F4E47;
            padding-bottom: 10px;
        }

        .book {
            margin-bottom: 25px;
        }

        footer {
            background-color: #1F2022;
            color: #A6A9AE;
            text-align: center;
            padding: 20px;
            font-size: 0.9rem;
        }

        footer a {
            color: #5F4E47;
        }
        #mara{
          color:#C2C566

        }
img {
  height: 200px;
  width: 200px;
}